* {
    padding: 0;
    margin: 0;
}

:root {
    --branco-principal:#FFFFFF;
    --cinza-secundário:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030B;
    --cor-da-divisoria:#80e6ff83;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #80e6ff;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-size: 400;
}

.divisoria {
    background-color: var(--cor-da-divisoria);
    border-color: var(--cor-da-divisoria);
    box-shadow: 1px 1px 5px var(--cor-da-divisoria);
    width: 50%;
    margin: auto;
}

.principal {
    align-items: center;
    text-align: center;
}

.container__imagem-instrutores {
    width: 100vw;
}

.container__imagem {
    display: none;
}

.container__imagem-2 {
    box-shadow: 26px 30px 75px black;
    margin: auto;
    width: 70%;
}

.container__caixa {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
    margin-top:-5em;
    align-items: center;
}

.container__titulo {
    font-size: 1.2em;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    text-decoration: none;
    margin-top: 1em;
}
.botao__primario {
    width: 50%;
}
.botao__secundario {
    font-size: 1em;
    background-color: transparent;
    border: 1px solid var(--cinza-secundário);
}

.container__aviso {
    font-size: 1em;
    color: var(--cinza-secundario);
}

.secundario {
    margin: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border: 1px 1px 1px var(--branco-principal);
}

img {
    width: 50%;
}

.secundario__botao {
    width: 60%;
    text-align: center;
    margin: auto;
}

.dispositivos__lista {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 2em;
    
}

.dispositivos {
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    align-items: center;
}

.dispositivos__titulo {
    font-size: 1.5em;
    color: var(--branco-principal);
}

.dispositivos__imagem {
    width: 5em;
}
.rodape {
    text-align: center;
    margin-top: 2em;
}

.rodape__logo {
    width:30%;
    margin: 2em 0;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundário);
    font-size: 0.6em;
    padding: 1em;
}

.rodape__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    list-style-type: none;
    margin-top: 2em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--botao-azul);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao__meio {
    display: none;
}

